<h1>Home#index</h1>
<%= link_to "Cinemas", cinemas_path %><br/>
<%= link_to "Halls", halls_path %><br/>
<%= link_to "Films", films_path %><br/>
<%= link_to "Perfomances", perfomances_path %><br/>
<%= link_to "Tickets", tickets_path %><br/>

