<h1>Editing cinema</h1>

<%= render 'form' %>

<%= link_to 'Show', @cinema %> |
<%= link_to 'Back', cinemas_path %> |
<%= link_to 'Add Hall', "/cinemas/#{@cinema.id}/halls/new" %> |
<%= link_to 'Home', home_path %> 
